---
import Layout from "../layouts/Layout.astro";
---

<Layout title = "">
    <section class="container mx-auto text-justify">
        <p class="text-center text-8xl text-pink-600">We simply love Donuts,<br> Colors and Flavos!</p>
        <p class="mt-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti doloribus quam unde veritatis voluptate ab nulla consequuntur maiores molestiae vitae, facere minima culpa dolorum odit tempore, consequatur pariatur iure. Minima a facilis saepe ullam eligendi? Dolorem aperiam, aut accusantium voluptatem sed illum praesentium. Quo molestias aut illum totam iste! Dolores dolorem asperiores recusandae necessitatibus animi ex placeat veritatis quasi. Iste reprehenderit non fugiat itaque facilis expedita natus pariatur nisi. Quidem porro maiores consequuntur dolores quos.</p>
    </section>
    
</Layout>
