---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <p class="container mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veniam ipsam numquam repellat pariatur reprehenderit ab dignissimos, nostrum aliquam cupiditate illo quidem a explicabo voluptate itaque quaerat magni blanditiis inventore dolore. Minus vel optio, obcaecati nostrum recusandae totam ipsa fugit repellendus magni cumque tenetur tempore dolor praesentium mollitia natus repudiandae odio suscipit sit itaque? Qui fugiat voluptatibus necessitatibus perferendis optio? Repellat maiores autem aliquam quo soluta iure doloremque beatae molestiae ratione eaque minima nisi sequi eius, consectetur, impedit, ut dolorem veritatis. Ea autem harum iste sequi hic iusto quos natus fuga exercitationem nam reiciendis tempora, soluta similique commodi voluptas eligendi!</p>
</Layout>