---
---

<section>
    <div class="sm:flex sm:justify-around md:flex md:justify-around items-center">
      <div>
        <img src="'../../public/Logo.png" alt="dount shop logo" width="100" />
      </div>

      <div class="hidden md:flex"> 
        <ul class="hidden md:flex space-x-6 text-pink-800 text-1xl font-bold ">
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SERVICES</a></li>
          <li><a href="">GALLERY</a></li>
        </ul>
      </div>

      <div> 
        <button class="hidden lg:flex text-pink-800 text-1xl font-bold">Contact Us</button>
        <a class="lg:hidden md:flex" href="">text<img src="" alt=""></a>
      </div>
    </div>
  </section>